In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Groupby apply on large (relational) data set

## Attentions all writen functions assume a data frame where the date is sorted!!

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/COVID_relational_confirmed.csv'

# Test data

In [4]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [5]:
test_data.head()

            date state  country  confirmed
15617 2020-03-21    no  Germany      22213
15656 2020-03-21    no       US      25600
15884 2020-03-22    no  Germany      24873
15922 2020-03-22    no       US      33276
16147 2020-03-23    no  Germany      29056

In [6]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-04-24    no     154999
US      2020-04-24    no     905358

In [7]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [8]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-04-24     154999
      US      2020-04-24     905358

In [10]:
# this command will only work when adapting the get_doubling_time_via_regression function

#test_data.groupby(['state','country']).apply(get_doubling_time_via_regression)

In [11]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [12]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15617          NaN
                15884          NaN
                16147     7.417994
                16410     7.142035
                16676     8.012983
                16938     6.954407
                17202     6.501919
                17468     7.390371
                17731    10.136671
                17994    13.541893
                18259    13.781393
                18523    13.140681
                18785    12.037271
                19052    12.735506
                19315    16.052694
                19578    21.372453
                19844    27.427355
                20106    27.511936
                20370    21.792179
                20636    21.495848
                20899    26.565108
                21162    36.198404
                21427    43.982990
                21691    49.423444
                21954    74.043747
                22220    56.424411
                22482    42.468318
                22747    41.525988
                23010    49.898063
                23275    75.684007
                23537    78.000000
                23804    94.526338
                24067    82.985208
                24330    62.294061
                24595    70.294338
       US       15656          NaN
                15922          NaN
                16186     3.753732
                16449     4.263767
                16714     4.964881
                16977     4.503876
                17241     4.668859
                17506     5.438323
                17770     6.182802
                18032     7.005979
                18298     6.924543
                18563     7.303820
                18824     7.755167
                19090     7.857610
                19354     8.484950
                19617     9.992339
                19882    11.696684
                20145    12.160237
                20409    12.748897
                20674    13.083304
                20938    13.631394
                21200    15.569574
                21466    17.900620
                21731    20.438166
                21993    22.201450
                22258    21.826739
                22521    21.267781
                22785    21.083486
                23064    21.664938
                23315    24.710669
                23576    29.098736
                23842    29.591375
                24107    28.993509
                24369    29.332938
                24635    26.816384
Name: confirmed, dtype: float64

In [13]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [14]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    463           NaN
2  Alberta  Canada    726           NaN
3  Alberta  Canada    958           NaN
4  Alberta  Canada   1224           NaN

In [15]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada          0
1      1 2020-01-22       no    Kazakhstan          0
2      2 2020-01-22       no         Kenya          0
3      3 2020-01-22       no  Korea, South          1
4      4 2020-01-22       no        Kosovo          0

In [16]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada          0           NaN
1      1 2020-01-22       no    Kazakhstan          0           NaN
2      2 2020-01-22       no         Kenya          0           NaN
3      3 2020-01-22       no  Korea, South          1           NaN
4      4 2020-01-22       no        Kosovo          0           NaN

In [18]:
pd_result_larg[pd_result_larg['country']=='India']

       index       date state country  confirmed  confirmed_DR
57        57 2020-01-22    no   India          0           NaN
320      320 2020-01-23    no   India          0           NaN
584      584 2020-01-24    no   India          0           NaN
847      847 2020-01-25    no   India          0           NaN
1113    1113 2020-01-26    no   India          0           NaN
1375    1375 2020-01-27    no   India          0           NaN
1641    1641 2020-01-28    no   India          0           NaN
1904    1904 2020-01-29    no   India          0           NaN
2169    2169 2020-01-30    no   India          1      0.666667
2431    2431 2020-01-31    no   India          1      1.333333
2697    2697 2020-02-01    no   India          1           inf
2959    2959 2020-02-02    no   India          2      2.666667
3225    3225 2020-02-03    no   India          3      2.000000
3488    3488 2020-02-04    no   India          3      5.333333
3751    3751 2020-02-05    no   India          3           inf
4014    4014 2020-02-06    no   India          3           inf
4280    4280 2020-02-07    no   India          3           inf
4545    4545 2020-02-08    no   India          3           inf
4808    4808 2020-02-09    no   India          3           inf
5073    5073 2020-02-10    no   India          3           inf
5335    5335 2020-02-11    no   India          3           inf
5599    5599 2020-02-12    no   India          3           inf
5865    5865 2020-02-13    no   India          3           inf
6128    6128 2020-02-14    no   India          3           inf
6392    6392 2020-02-15    no   India          3           inf
6655    6655 2020-02-16    no   India          3           inf
6919    6919 2020-02-17    no   India          3           inf
7185    7185 2020-02-18    no   India          3           inf
7447    7447 2020-02-19    no   India          3           inf
7712    7712 2020-02-20    no   India          3           inf
7977    7977 2020-02-21    no   India          3           inf
8241    8241 2020-02-22    no   India          3           inf
8503    8503 2020-02-23    no   India          3           inf
8769    8769 2020-02-24    no   India          3           inf
9031    9031 2020-02-25    no   India          3           inf
9296    9296 2020-02-26    no   India          3           inf
9560    9560 2020-02-27    no   India          3           inf
9823    9823 2020-02-28    no   India          3           inf
10088  10088 2020-02-29    no   India          3           inf
10353  10353 2020-03-01    no   India          3           inf
10617  10617 2020-03-02    no   India          5      3.666667
10880  10880 2020-03-03    no   India          5      4.333333
11144  11144 2020-03-04    no   India         28      1.101449
11409  11409 2020-03-05    no   India         30      1.680000
11671  11671 2020-03-06    no   India         31     19.777778
11937  11937 2020-03-07    no   India         34     15.833333
12199  12199 2020-03-08    no   India         39      8.666667
12463  12463 2020-03-09    no   India         43      8.592593
12729  12729 2020-03-10    no   India         56      5.411765
12992  12992 2020-03-11    no   India         62      5.649123
13254  13254 2020-03-12    no   India         73      7.490196
13520  13520 2020-03-13    no   India         82      7.233333
13784  13784 2020-03-14    no   India        102      5.908046
14047  14047 2020-03-15    no   India        113      6.387097
14313  14313 2020-03-16    no   India        119     13.098039
14574  14574 2020-03-17    no   India        142      8.597701
14840  14840 2020-03-18    no   India        156      7.513514
15103  15103 2020-03-19    no   India        194      6.307692
15368  15368 2020-03-20    no   India        244      4.500000
15630  15630 2020-03-21    no   India        330      3.764706
15896  15896 2020-03-22    no   India        396      4.254386
16160  16160 2020-03-23    no   India        499      4.832347
16423  16423 2020-03-24    no   India        536      6.814286
16689  16689 2020-03-25    no   India        657      7.139241
16950  16950 2020-03-26    no   India        727      6.701571
17215  17215 2020-03-27    no   India        887      6.582609
17481  17481 2020-03-28    no   India        987      6.669231
17744  17744 2020-03-29    no   India       1024     14.102190
18007  18007 2020-03-30    no   India       1251      8.237374
18272  18272 2020-03-31    no   India       1397      6.563003
18536  18536 2020-04-01    no   India       1998      4.146363
18798  18798 2020-04-02    no   India       2543      3.454334
19064  19064 2020-04-03    no   India       2567      8.328061
19328  19328 2020-04-04    no   India       3082     10.132344
19591  19591 2020-04-05    no   India       3588      6.031342
19857  19857 2020-04-06    no   India       4778      4.500000
20118  20118 2020-04-07    no   India       5311      5.291933
20383  20383 2020-04-08    no   India       5916      9.376098
20649  20649 2020-04-09    no   India       6725      8.463932
20912  20912 2020-04-10    no   India       7598      8.021799
21175  21175 2020-04-11    no   India       8446      8.820066
21440  21440 2020-04-12    no   India       9205     10.474590
21704  21704 2020-04-13    no   India      10453      9.335326
21967  21967 2020-04-14    no   India      11487      9.098744
22233  22233 2020-04-15    no   India      12322     12.221152
22494  22494 2020-04-16    no   India      13430     12.777149
22760  22760 2020-04-17    no   India      14352     13.170443
23023  23023 2020-04-18    no   India      15722     12.653869
23288  23288 2020-04-19    no   India      17615      9.743385
23550  23550 2020-04-20    no   India      18539     12.276890
23816  23816 2020-04-21    no   India      20080     15.208654
24080  24080 2020-04-22    no   India      21370     14.126693
24342  24342 2020-04-23    no   India      23077     14.353687
24608  24608 2020-04-24    no   India      24530     14.552110

# Filtering the data with groupby apply

In [19]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [20]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [21]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0,NaN,0.0
1,1,2020-01-22,no,Kazakhstan,0,NaN,0.0
2,2,2020-01-22,no,Kenya,0,NaN,0.0
3,3,2020-01-22,no,"Korea, South",1,NaN,0.8
4,4,2020-01-22,no,Kosovo,0,NaN,0.0

# Filtered doubling rate

In [22]:

pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
24811    no  Zimbabwe  23589              28.148148
24812    no  Zimbabwe  23855              37.333333
24813    no  Zimbabwe  24057              38.380952
24814    no  Zimbabwe  24352              34.500000
24815    no  Zimbabwe  24815              35.500000

In [20]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
23755,23755,2020-04-20,no,Bahrain,1907,27.666667,1911.2,3.343604e+01
23756,23756,2020-04-20,no,Bangladesh,2948,6.258706,2865.6,7.503264e+00
23757,23757,2020-04-20,no,Barbados,75,inf,75.0,-5.277656e+15
23758,23758,2020-04-20,Zhejiang,China,1268,inf,1268.0,-3.717815e+15
23759,23759,2020-04-20,no,Zimbabwe,25,inf,25.4,4.980000e+01

In [21]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [22]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
22481,22481,2020-04-16,no,Germany,137698,42.468318,137709.8,50.362734
22748,22748,2020-04-17,no,Germany,141397,41.525988,140474.8,50.838457
23011,23011,2020-04-18,no,Germany,143342,49.898063,142937.2,53.706980
23274,23274,2020-04-19,no,Germany,145184,75.684007,145189.3,60.607530
23539,23539,2020-04-20,no,Germany,147065,78.000000,147441.4,64.468407

In [23]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)